*.png filter=lfs diff=lfs merge=lfs -text
*.import filter=lfs diff=lfs merge=lfs -text
*.TTF filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.gd filter=lfs diff=lfs merge=lfs -text
*.uid filter=lfs diff=lfs merge=lfs -text
*.tscn filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.tres filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.godot filter=lfs diff=lfs merge=lfs -text
*.pck filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.car filter=lfs diff=lfs merge=lfs -text
/xc/CrazyCattle3D.xcarchive/Products/Applications/CrazyCattle3D.app/CrazyCattle3D filter=lfs diff=lfs merge=lfs -text
*.nib filter=lfs diff=lfs merge=lfs -text
/xc/CrazyCattle3D.xcarchive/Products/Applications/CrazyCattle3D.app/PkgInfo filter=lfs diff=lfs merge=lfs -text
*.xcprivacy filter=lfs diff=lfs merge=lfs -text
/xc/CrazyCattle3D.xcarchive/Products/Applications/CrazyCattle3D.app/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
*.mobileprovision filter=lfs diff=lfs merge=lfs -text
*.strings filter=lfs diff=lfs merge=lfs -text
*.signature filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.pbxproj filter=lfs diff=lfs merge=lfs -text
*.xcworkspacedata filter=lfs diff=lfs merge=lfs -text
*.xcscheme filter=lfs diff=lfs merge=lfs -text
*.entitlements filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/xc/CrazyCattle3D/Images.xcassets/AppIcon.appiconset/sizes filter=lfs diff=lfs merge=lfs -text
*.storyboard filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.swift filter=lfs diff=lfs merge=lfs -text
/xc/CrazyCattle3D/dylibs/empty filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.gdc filter=lfs diff=lfs merge=lfs -text
*.gdignore filter=lfs diff=lfs merge=lfs -text
/.godot/editor/filesystem_cache10 filter=lfs diff=lfs merge=lfs -text
/.godot/editor/filesystem_update4 filter=lfs diff=lfs merge=lfs -text
/.godot/editor/recent_dirs filter=lfs diff=lfs merge=lfs -text
*.scn filter=lfs diff=lfs merge=lfs -text
*.res filter=lfs diff=lfs merge=lfs -text
/.godot/exported/133200997/file_cache filter=lfs diff=lfs merge=lfs -text
*.ctex filter=lfs diff=lfs merge=lfs -text
*.md5 filter=lfs diff=lfs merge=lfs -text
*.fontdata filter=lfs diff=lfs merge=lfs -text
*.sample filter=lfs diff=lfs merge=lfs -text
*.cache filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
